* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans",Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

h1 {
    font-size: 30px;
    line-height: 24px;
}
h2 {
     font-size: 21px;
     line-height: 26px;
 }
.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.navigation ul {
    width: 1060px;
    margin: 0 auto;
}
.navigation li {
    width: 240px;
    display: inline-block;
    padding: 20px 0;
}
.navigation li:nth-child(1),
.navigation li:nth-child(2) {
    float: left;
}
.navigation li:nth-child(4),
.navigation li:nth-child(3) {
    float: right;
    text-align: right;
}
.index-slogan {
    width: 576px;
    margin: 60px auto;
    text-align: center;
}
.index-slogan h2 {
    margin-bottom: 40px;
}
.features-one-part {
    width: 300px;
    float: left;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    height: 206px;
    text-align: center;
}
.features-two-part {
    width: 800px;
    height: 256px;
    float: left;
}
.features-one-part h3,
.features-one-part p,
.features-icon {
    margin-bottom: 30px;
}
.features-one-part.big {
    padding-top: 60px;
    padding-bottom: 80px;
}
.features .blue {
    background-color: #81b3d2;
    color: #fff;
}
.features .gray {
    background-color: #eee;
}
.search {
    width: 576px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}
.search h1 {
    margin-bottom: 30px;
}
.search p {
    margin-bottom: 60px;
}
.search-btn {
    width: 576px;
    padding: 30px 0px;
    margin: 0 auto;
    background-color: #766357;
    color: #fff;
}
.search-form {
    width: 576px;
    padding: 55px;
    box-sizing: border-box;
    /*display: none;*/
}
.details {
    padding-bottom: 30px;
}
.details label {
    margin-right: 20px;
}
input[type="date"] {
    width: 350px;
    height: 38px;
    box-sizing: border-box;
}
.search-form input[type="submit"] {
    width: 100%;
    background-color: #81b3d2;
    padding: 20px 0;
}
.details-part {
    float: left;
}
div.details-part:last-child {
    float: right;
}
.details-part span {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    vertical-align: middle;
    margin:0 -4px;
}
.details-part label {
    margin-right: 50px;
}
.details-part input[type="text"] {
    width: 38px;
    height: 38px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: none;
    vertical-align: middle;
}
.footer-lay-out {
    float: left;
    width:33%;
    text-align: center;
    padding: 35px 0;
}
/*--------------------catalog.html------------------------------------*/

.search-options {
    width:1200px;
    height: 217px;
    background: #4d7faa url("../img/catalog-logo.jpg") no-repeat;
}
.search-options form {
    width: 1040px;
    margin: 0 auto;
    padding: 30px 0;
}
.filter {
    float: left;
}
